<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>OADA Compliance Test (dev alpha)</title>

    <link href="/css/base.css" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
  

  </head>
  <body>
    <div class="container">
      <div class="header">
        <h3 class="text-muted"><a href="http://openag.io">OADA</a> Compliance Test</h3>
      </div>

      <div class="jumbotron">
      	<form action="/compliance/go/" method="post">
        <div class="input-group input-group-lg">
		  <span class="input-group-addon"><strong>Base URL</strong></span>
		  <input type="text" class="form-control" name="endpoint" placeholder="https://oada-url.com:port/path/">
		</div>
		<br>
		<div class="input-group input-group-lg">
		  <span class="input-group-addon"><strong>Authorization Bearer</strong></span>
		  <input type="text" name="token" class="form-control" placeholder="123456789" value="123456789">
		</div>
		<br>
        <div style="font-size:14px">Enter your endpoint above to check the API responses for correctness. The server will give you back a <a href="http://cukes.info/reports.html">Cucumber report</a>.
          <div class="checkbox">
            <label>
              <input type="checkbox" checked='checked' value='cucumber/features/fields.feature' name="testcases">
              Fields Bookmark Tests
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" checked='checked' value='cucumber/features/harvesters.feature' name="testcases">
              Harvesters Bookmark Tests
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" checked='checked' value='cucumber/features/resources_with_view.feature' name="testcases">
              Stream Resources Test (<strong>with</strong> view parameter)
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" checked='checked' value="cucumber/features/resources_without_view.feature" name="testcases">
              Stream Resources Test (<strong>without</strong> view parameter)
            </label>
          </div>
        </div>
        <p><br>
          <input type="submit" class="btn btn-lg btn-success" role="button" value="Perform Selected Tests">

          </p>
        </form>
      </div>

      <div class="footer">
      	<table>
          <tr><td><img src="http://openag.io/img/oada-logo.svg" width="80px"> </td>
          <td style="padding-left:15px"><small><strong>Revised Date: Oct 22, 2014</strong><p>
          <a href="http://github.com/OADA/oada-test">Clone it on <strong>Github</strong></a>
        </p>© 2014 Open Ag Data Alliance</p></small></td></tr>
        </table>
      </div>

    </div>

  </body>
</html>
